.gradle/
build/
**/build/
app/build/
local.properties
*.iml
.idea/
*.jks
*.keystore
*.keystore*
app/keystore/
*.apk
*.aab
.codex_video_frames/
.codex_video_frames_*/
application.backup
*.backup
build_log.txt
*.log
